
<main id="main-container" style="min-height: 190px;"><div class="bg-image" style="background-image: url('<%=asset_path "railswall.jpg"%>');">
  <div class="bg-primary-op">
    <section class="content content-full content-boxed overflow-hidden">
      <div class="push-150-t push-150 text-center">
        <h1 class="text-white push-10 animated fadeInDown" data-toggle="appear" data-class="animated fadeInDown"><%= @blog_post.title %></h1>
      </div>
    </section>
  </div>
</div>
  <div class="bg-white">
    <section class="content content-boxed">
      <div class="text-center">
        <%= @blog_post.decorate.link_to_author %> - <%= converte_date(@blog_post.published_at) %> <em>visualizado <%=@blog_post.access_count%> x- <div class="wordcount">
        <i class="fa fa-clock-o"></i>
        <span><%=pluralize(@blog_post.reading_time, 'minuto')%></span>
      </div></em>
      </div>
      <div class="row push-50-t push-50 nice-copy-story">
        <div class="col-sm-8 col-sm-offset-2">
          <p><%= @blog_post.body.html_safe %></p>


        </div>
      </div>

    </section>
  </div>

  <section class="content content-full content-boxed">
    <div class="push-20-t push-20 text-center">
      <h3 class="h4 text-white-op push-20 animated fadeIn" data-toggle="appear"> <%=raw tag_links(@blog_post.all_tags)%></h3>
    </div>
  </section>

</main>


